name: Rust test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - toolchain: stable
          - toolchain: nightly
          - toolchain: 1.89 # msrv
    steps:
      - uses: actions/checkout@v4
      - run: rustup override set ${{ matrix.toolchain }}
      - run: rustup component add clippy
      - run: cargo doc
      - run: cargo test --no-fail-fast
      - run: cargo clippy -- -D warnings
      - run: rm -v Cargo.lock
      - run: cargo doc
      - run: cargo test --no-fail-fast
      - run: cargo clippy -- -D warnings

